<br>

<p><%= link_to "Search donations", donations_path %></p>
<p><%= link_to "My donations", my_donations_path %></p>
<p><%= link_to "Add a donation", new_donation_path %></p>
<p><%= link_to "Edit account", edit_user_path %></p>