<h2>Welcome to Donation Station</h2>

<p>Trying to get rid of your old stuff? Donation Station puts you in contact with the people who want to take it off your hands!</p>

<p>Or you can find a hidden gem, totally for free! Search donations <%= link_to "here", donations_path %>.</p>



<p>Donation Station is a free web app that allows users to post any item they wish to give for donation or lookup items that other users have put up for donation.</p>

<h4>How does it work?</h4>

<p>Items that are posted for donation can be viewed without registration. To post an item for donation or to show interest in a donation, registration is required. Registration form asks for minimum contact details (it does NOT ask for bank account details).</p>

<p>Users can post any item for donation - posting a donation requires the user to provide a title, description, category, and the location of the donation. </p>

<p>Users can search items by a combination of keywords, location, and category. </p>

<p>Any user who finds a donation and is of interest to them can 'show interest' to the donation. After showing interest, the user is able to see the contact details of the posting user, and the posting user is able to see the contact details of the user showing interest to the donation. They can initiate contact to arrange the details of picking up the item. The posting user can then delete the item they had posted.</p>

<p>As of September 2019 the app is only available in the city of London, however our user base is growing and soon it will become available world wide. Keep an eye!</p>

<h4>Credits</h4>
<p>
    
    George Kirby, Sohaib Mubashir (© 2019)
</p>