<h2>Welcome to Donation Station</h2>

<p>Trying to get rid of your old stuff? Donation Station puts you in contact with the people who want to take it off your hands!</p>

<p>Or you can find a hidden gem, totally for free! Search donations <%= link_to "here", donations_path %>.</p>