<h1>Donations you are interested in</h1>

<% if @donations.empty? %>
    <br>
    <p>You are not showing interest in any donations at the moment. </p>
    <p><%= link_to "Search donations", donations_path %></p>
<% else %>
  <%= render "donations_display" %>
<% end %>