<h1>Your donations</h1>

<% if @donations.empty? %>
    <br>
    <p>You haven't shown interest in any donations yet.</p>
    <p><%= link_to "Add a donation", new_donation_path %></p>
<% else %>
  <%= render "donations_display" %>
<% end %>